<h3>LanguageCottage</h3>

<!--Make everything center.-->
<MudContainer MaxWidth="MaxWidth.Medium">

</MudContainer>


<MudScrollToTop>
    <MudFab Color="Color.Tertiary" Icon="@Icons.Material.Filled.ArrowCircleUp" />
</MudScrollToTop>

@code {

}
