@page "/languagecottage"
@layout DefaultLayout
@using Services;
@using Dtos;
@using Dialogs;
@inject Radzen.DialogService DialogService

<h3>LanguageCottage</h3>

<MudContainer MaxWidth="MaxWidth.Medium">

</MudContainer>

<div>
    <MudFab StartIcon="@Icons.Material.Filled.Add" Color="Color.Success" aria-label="Upload" OnClick="lcUploadDialog"></MudFab>
    <MudScrollToTop>
        <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
    </MudScrollToTop>
</div>

@code {

    private void lcUploadDialog()
    {
        DialogService.OpenAsync<LcDialog>("New LC Upload", null, new Radzen.DialogOptions() { Draggable = false, Height="600px" });
    }
}
