﻿@if (contentLoaded)
{
    @ChildContent
}
else
{

    <div style="position:absolute; top:30vh; width:100%; text-align:center">
        @* <RadzenImage Path="@($"data:image/jpeg;base64,{Convert.ToBase64String(global::YxWebsite.Properties.Resources.agiliti_logo_blue_icon)}")" Style="height: 170px; border-radius: 50%; margin:20px; " /> *@
        <h3>Yx Website</h3>
        <p>I promise you this won't take long... really...</p>
    </div>
}

@code {

    bool contentLoaded = false;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        contentLoaded = true;
    }
}